<!-- Footer -->
<section id="footer" class="bg-dark text-white fixed-bottom">
		<div class="container mx-auto text-center ">
			<div class="row text-center text-xs-center ">
				<div class="col-xs col-sm col-md">
					<h5>HelloAsso Admin</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/admin/helloasso/organism/"><i class="fa fa-angle-double-right"></i>Organismes</a></li>
						<li><a href="/admin/helloasso/campaign/"><i class="fa fa-angle-double-right"></i>Campaigns</a></li>
						<li><a href="/admin/helloasso/action/"><i class="fa fa-angle-double-right"></i>Actions</a></li>
						<li><a href="/admin/helloasso/payment/"><i class="fa fa-angle-double-right"></i>Payments</a></li>
						<li><a href="/admin/helloasso/custominfo/"><i class="fa fa-angle-double-right"></i>Custom Infos</a></li>
					</ul>
				</div>
				<div class="col-xs col-sm col-md .bg-success">
					<h5>Helloasso API</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://dev.helloasso.com/v3"><i class="fa fa-angle-double-right"></i>Introduction</a></li>
						<li><a href="https://dev.helloasso.com/v3/description"><i class="fa fa-angle-double-right"></i>Description</a></li>
						<li><a href="https://dev.helloasso.com/v3/format"><i class="fa fa-angle-double-right"></i>Format</a></li>
						<li><a href="https://dev.helloasso.com/v3/responses"><i class="fa fa-angle-double-right"></i>Response</a></li>
						<li><a href="https://dev.helloasso.com/v3/resources" title=""><i class="fa fa-angle-double-right"></i>Ressources</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</section>
	<!-- ./Footer -->