<!-- Footer -->
<section id="footer" class="bg-dark text-white">
		<div class="container mx-auto text-center ">
			<div class="row text-center text-xs-center ">
				<div class="col-xs col-sm col-md">
					<h5>Pelicarus</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://www.facebook.com/association.pelicarus/"><i class="fab fa-facebook"></i> </a></li>
						<li><a href=""><i class="fab fa-instagram"></i></a> </li>
						<li><a href=""><i class="fas fa-envelope"></i></a> </li>
						<li><a href=""><i class="fas fa-globe"></i></a> </li>
						<li><a href=""><i class="fab fa-whatsapp"></i></a> </li>
					</ul>
				</div>
				<div class="col-xs col-sm col-md .bg-success">
					<h5>Helloasso API</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://dev.helloasso.com/v3"><i class="fa fa-angle-double-right"></i>Introduction</a></li>
						<li><a href="https://dev.helloasso.com/v3/description"><i class="fa fa-angle-double-right"></i>Description</a></li>
						<li><a href="https://dev.helloasso.com/v3/format"><i class="fa fa-angle-double-right"></i>Format</a></li>
						<li><a href="https://dev.helloasso.com/v3/responses"><i class="fa fa-angle-double-right"></i>Response</a></li>
						<li><a href="https://dev.helloasso.com/v3/resources" title=""><i class="fa fa-angle-double-right"></i>Ressources</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</section>
	<!-- ./Footer -->